.keys {
    width: 60px;
    height: 65px;
    margin: 4px;
    background-color: $color-button;
    color: $color-text;
    transition: .2s ease;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.keys.active {
    background-color: $color-button-active;
    color: $color-text-active;
    transition: .2s ease;
}

.backspace_key {
    width: 136px;
}

.tab_key {
    width: 63px;
}

.caps-lock_key {
    width: 125px;
}

.enter_key {
    width: 134px;
}

.shift_key {
    width: 96px;
}



.space_key {
    width: 436px;
}